URxvt*font: xft:Terminus:pixelsize=18:antialias=true,xft:Inconsolata Nerd Font Mono:pixelsize=18:antialias=true
URxvt*boldfont: xft:Terminus:pixelsize=18:style=bold:antialias=true,xft:Inconsolata Nerd Font Mono:pixelsize=18:style=bold:antialias=true

URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading: 40
URxvt.tintColor: gray100
URxvt*background:#000000
URxvt*foreground:#FFFFFF
URxvt*scrollBar: false
URxvt*saveLines: 20480
!URxvt*keysym.Meta-1: \033[1;68
!URxvt*keysym.Meta-2: \033[1;6c
URxvt*borderLess: 0
URxvt*internalBorder: 0
!-*- Perl extensions -*-
!URxvt.perl-ext-common:default,clipboard,matcher,keyboard-select
URxvt.keysym.M-u:     perl:url-select:select_next
URxvt.url-launcher:   /usr/bin/google-chrome
URxvt.underlineURLs:  True
URxvt.matcher.button: 1 
URxvt.keysym.M-Escape:perl:keyboard-select:activate
URxvt.keysym.M-c:     perl:clipboard:copy
URxvt.keysym.M-v:     perl:clipboard:paste
URxvt.keysym.M-C-v:   perl:clipboard:paste_escaped
!URxvt.copyCommand:   xsel -ib
!URxvt.pasteCommand:  xsel -ob
!black
*color0:  #251f1f
*color8:  #5e5e5e
!red
*color1:  #FF3F3F
*color9:  #FF3F3F
!green
*color2:  #3FFF3F
*color10: #3FFF3F
!yellow
*color3:  #ffac18
*color11: #ffac18
!blue
*color4:  #3F3FFF
*color12: #3F3FFF
!magenta
*color5:  #FF3FFF
*color13: #FF3FFF
!cyan
*color6:  #3FFFFF
*color14: #3FFFFF
!white
*color7:  #C0C0C0
*color15: #C0C0C0

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull
